/* BG Elements */

/* Styling for BG elements */
#bg-elements {
    position: absolute;
    width: auto;
    height: 100%;
}

/* BG noise texture */
#bg-noise {
    background-image: url("/ASSETS/tv-noise-01.gif");
    height: 100%;
    width: 100%;
    position: fixed;
    mix-blend-mode: overlay;
    opacity: 0.33;
    object-fit: scale-down;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    -o-object-fit: cover;
    resize: none;
}

/* Marquees (BG text) */
.marquees {
    display: flex;
    flex-direction: column;
    opacity: 11%;
    z-index: 1;
    position: fixed;
    user-select: none;
    
    -webkit-animation: fadeinbgtext 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinbgtext 1s; /* Firefox < 16 */
    -ms-animation: fadeinbgtext 1s; /* Internet Explorer */
    -o-animation: fadeinbgtext 1s; /* Opera < 12.1 */
    animation: fadeinbgtext 1s;
}

.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    height: 20vh;
    display: flex;
    align-items: center;
}

.marquee .text {
    display: inline-block;
    text-indent: 0;
    animation: marquee 15s linear infinite;
    font-weight: 500;
    font-size: 20vh;
    line-height: 125%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #F1F1F1;
    
}

/* Marquee moving animation */
@keyframes marquee {
    0% {
        transform: translate(0%, 0);
    }
    
    100% {
        transform: translate(-100%, 0);
    }
}

.marquee-02 {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.marquee-02 .text {
    display: inline-block;
    padding-left: 4.4rem;
    text-indent: 0;
    animation: marquee 20s linear infinite;
    font-weight: 500;
    font-size: 20vh;
    line-height: 125%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #0A0A0A;
    text-shadow: -1px -1px 0 #F1F1F1, 1px -1px 0 #F1F1F1, -1px 1px 0 #F1F1F1, 1px 1px 0 #F1F1F1;
}

@media only screen and (max-width: 1200px) {
    #bg-noise {
        mix-blend-mode: normal;
        opacity: 4%;
    }
    
}

@media only screen and (min-height: 1000px) {
    .marquee .text, .marquee-02 .text {
        font-size: 32vh;
    }
}

@media only screen and (min-height: 800px) {
    .marquee .text, .marquee-02 .text {
        font-size: 20vh;
    }
}

@media only screen and (max-height: 500px) {
    .marquee .text, .marquee-02 .text {
        font-size: 17vh;
    }
}

@media only screen and (max-height: 300px) {
    .marquee .text, .marquee-02 .text {
        font-size: 10vh;
    }
}

@media only screen and (max-height: 215px) {
    .marquee .text, .marquee-02 .text {
        font-size: 7vh;
    }
}

@media only screen and (max-width: 400px) {
    .marquee, .marquee-02 {
        height: 30vh;
    }
}

@media only screen and (max-width: 300px) {
    .marquee, .marquee-02 {
        height: 40vh;
    }
}