* {
    border: none !important;
    cursor: none !important;
}

#content {
    position: absolute;
    width: 100vw;
    height: 105vh;
    
    z-index: 2;
}

a {
    color: inherit;
    text-decoration: none;
    transition: ease-in-out .5s;
    cursor: pointer !important;
}

a:hover {
    color: #EC8609;
}

.title-separator {
    width: 200px;
    margin: 40px;
    color: #F1F1F1;
    /* opacity: 66%; */
    
    /* -webkit-animation: fadein2 5s;  Safari, Chrome and Opera > 12.1 
    -moz-animation: fadein2 5s;  Firefox < 16 
    -ms-animation: fadein2 5s;  Internet Explorer 
    -o-animation: fadein2 5s;  Opera < 12.1 
    animation: fadein2 5s; */
}

#title-screen {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* background-color: blue; */
    /* z-index: 11; */

    -webkit-animation: fadein3 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein3 4s; /* Firefox < 16 */
    -ms-animation: fadein3 4s; /* Internet Explorer */
    -o-animation: fadein3 4s; /* Opera < 12.1 */
    animation: fadein3 4s;

    z-index: 2;
}

#resource-details {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* background-color: blue; */
    /* z-index: 11; */
}

.title {
    position: relative;
    font-family: 'Cinzel Decorative', 'Cinzel', 'Times New Roman', Times, serif;
    font-weight: 900;
    padding: 0px 40px 0px 40px;
    color: #EC8609;
    filter: drop-shadow(0px 0px 33px #F9AC4E);
    line-height: 1;
    
    font-size: 116px;
    text-align: center;
    
    /* -webkit-animation: fadein3 4s; /* Safari, Chrome and Opera > 12.1
    -moz-animation: fadein3 4s; Firefox < 16
    -ms-animation: fadein3 4s;* Internet Explorer
    -o-animation: fadein3 4s;  Opera < 12.1 
    animation: fadein3 4s; */
    
    /* background-image:url("https://media.giphy.com/media/xVn3ZmKrKIOLS/giphy.gif");
    background-size: contain;
    background-position: top left;
    -webkit-background-clip: text; */

    background: linear-gradient(110deg, #EC8609 0%, #EC8609 8%, #FABA6D 10%, #EC8609 12%, #EC8609 20%);
    background-position: 0;
    background-size:300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s infinite linear;
    animation-fill-mode: none;
    -webkit-text-size-adjust: none;
}
@keyframes shine {
  0% {
    background-position: -1000px }
  100% {
    background-position: 2000px }
}

.subtitle {
    position: relative;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    color: #EC8609;
    filter: drop-shadow(0px 0px 33px #F9AC4E);
    line-height: 1;
    
    font-size: 48px;
    text-align: center;
    padding: 0px 80px 0px 80px;
    
    -webkit-animation: fadein3 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein3 6s; /* Firefox < 16 */
    -ms-animation: fadein3 6s; /* Internet Explorer */
    -o-animation: fadein3 6s; /* Opera < 12.1 */
    animation: fadein3 6s;
}




































/* Disclaimer */
.disclaimer {
    background-color: #1F1F1F;
    width: 100%;
    margin: 50px 50px 00px 50px;
    padding: 15px 15px 15px 15px;
    box-shadow: 10px 10px 0px #221E228b;
    filter: drop-shadow(0px 0px 9px #EC8609);
    transition: ease-in-out .25s;
    color: #EC8609;
    font-size: 20px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1;
    text-align: center;
}

/* Documents */
.card-list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;

    -webkit-animation: fadein2 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 3s; /* Firefox < 16 */
    -ms-animation: fadein2 3s; /* Internet Explorer */
    -o-animation: fadein2 3s;  /* Opera < 12.1 */
    animation: fadein2 3s;
}

#short {
    height: 15%;
}

.card {
    background: linear-gradient(45deg, #0A0A0A, #221E22);
    width: 360px;
    height: 260px;
    box-shadow: 8px 8px 0px #221E22;
    border-radius: 0px;
    filter: drop-shadow(0px 0px 11px #EC8609);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    
    -webkit-animation: fadein3 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein3 2s; /* Firefox < 16 */
    -ms-animation: fadein3 2s; /* Internet Explorer */
    -o-animation: fadein3 2s; /* Opera < 12.1 */
    animation: fadein3 2s;
    transition: ease-in-out .25s;
}

.card-standout {
    filter: drop-shadow(0px 0px 11px #aacc00);
}

.card-standout:hover {
    filter: drop-shadow(0px 0px 33px #aacc00) !important;
}

.card:hover {
    filter: drop-shadow(0px 0px 33px #EC8609);
    transition: ease-in-out .25s;
}

/* Document Text */
.card-title  {
    color: #F1F1F1;
    font-size: 22px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1;
    transition: ease-in-out .25s;

    padding: 12px 0px 0px 12px;
}

.card-title:hover {
    color: #EC8609;
    transition: ease-in-out .25s;
}

.ext-link-icon:hover {
    transform: scale(125%);
    transition: linear .25s;
}

.card-desc {
    color: #E3E3E3;;
    text-align: left;

    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;

    padding: 0px 12px 0px 12px;
}

.card-header {
    height: 90%;
    margin: 0;
    padding: 0;
}

.card-footer {
    color: #F1F1F1;
    font-family: 'Alata', sans-serif;
    text-align: right;

    height: 10%;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.preview-imgs {
    padding: 0px 0px 12px 0px;

    display: flex;
    justify-content: flex-start;
}

.preview-img-icon {
    object-fit: cover;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    
    border: 2px solid white !important;

    cursor: pointer !important;
}

.player-info {
    padding: 0px 12px 12px 0px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.player-count {
    margin: 0;
    font-size: 13px;
    line-height: 1.1;
}

.two-row {
    padding-right: 2px;
}

.players-icon {
    
    width: 24px;
}

.important-text {
    color: #E61E25;
}

.linked-text {
    color: #F8AB4C;
}

.ext-link-icon {
    width: 20px;
    margin-left: 4px;
    transition: ease-in-out 1s;
    cursor: pointer !important;
}

#players-info {
    display: flex;
    width: 50%;
}

.docs-whitespace {
    width: 100vw;
    margin: 50px 50px 50px 50px;
    padding: 15px 15px 15px 15px;
    transition: ease-in-out .25s;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1;
}
























#portfolio-wrapper {
    display: flex;
}

#portfolio {
    padding: 0px;
}

#portfolio #portfolio-wrapper {
    padding-right: 15px;

    position: relative;
}

.tags-selector {
    background: linear-gradient(180deg, #0A0A0A3b, #221E223b);

    margin: 0px 30px 0px 30px;
    border-radius: 500px;
    
    transition: ease-in-out .25s;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0 8px 32px 0 #0A0A0A !important;
    backdrop-filter: blur( 6.5px ) Im !important;
    -webkit-backdrop-filter: blur( 6.5px ) !important;
    border: 2px solid #EC8609 !important;

    -webkit-animation: fadein3 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein3 1s; /* Firefox < 16 */
    -ms-animation: fadein3 1s; /* Internet Explorer */
    -o-animation: fadein3 1s; /* Opera < 12.1 */
    animation: fadein3 1s;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;

    transition: ease-in-out 1s;
}

.info-title {
    color: #F1F1F1;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1;
    /* padding: 0px 20px 0px 20px; */
    /* padding-left: 20px; */
    /* margin-left: 200px; */

    display: flex;
    align-items: center;
}

#portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    display: flex;
}

#portfolio #portfolio-flters li {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #F1F1F1;
    transition: all 0.3s ease-in-out;
    color: #F1F1F1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    background-color: #221E22;
    text-align: center;
    filter: drop-shadow(0px 0px 3px #EC8609);

    cursor: pointer !important;
    transition: ease-in-out .25s;
    width: auto;
    border-radius: 1000px;

    text-align: center;

    width: auto;
    padding: 14px;
    margin: 10px;
}

#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
    background: #EC8609;
    color: #fff;
}

#portfolio .portfolio-item {
    position: relative;
    overflow: hidden !important;
    margin-bottom: 15px;
    transition: all 350ms ease;
    transform: scale(1);
}

#portfolio .portfolio-item .details {
    height: 50px;
    background: #2dc997;
    position: absolute;
    bottom: 0;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}


























/* Mouse */

.mouse {
    overflow: hidden;
    position: absolute;
    left:50%;
    top:90%;
    width:24px;
    margin: -12px;
    height:50px;
    border:2px solid white !important;
    border-radius:30px;
    opacity: 33%;
    
    display: flex;
    
    z-index: 30;

    /* cursor: pointer !important; */
}

.mouse a {
    position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 40;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    
    overflow: hidden;
    position: absolute;
    border-radius:30px;
    opacity: 33%;
    
    z-index: 30;
    cursor: pointer !important;
}

.demo a:hover {
    opacity: .5;
}

.mouse::after {
    display: block;
    content:"";
    position:absolute;
    left:11px;
    top:10px;
    width:4px;
    height:4px;
    margin-left: -3px;
    background-color:white;
    border-radius:2px;
    animation: mouse-wheel 2.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes mouse-wheel {
    0% {
        transform: translateY(0);
        opacity: 0;
    }  
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    30% {
        transform: translateY(0);
        height: 4px;
    }
    50% {
        transform: translateY(0);
        height: 20px;
    }
    70% {
        transform: translateY(15px);
        height: 4px;
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

#section01 a {
    padding-top: 60px;
    
}
#section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section02 a {
    padding-top: 60px;
}
#section02 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff !important;
    border-radius: 100%;
    box-sizing: border-box;
}
#section02 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .disclaimer {
        margin: 0px 30px 0px 30px;
    }

    #short {
        height: 10%;
    }

    .tags-selector {
        margin: 0px 30px 15px 30px;
        border-radius: 5px;
    }

    .subtitle {
        padding: 10px;
    }
}

@media screen and (max-width: 1000px) {
    #portfolio #portfolio-flters li {
        padding: 14px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 775px) {
    .tags-selector {
        margin: 15px 15px 15px 15px;
        justify-content: flex-start;
    }

    .info-title {
        font-size: 16px;
    }

    .title {
        font-size: 92px;
    }
}

@media screen and (max-width: 700px) {
    #portfolio #portfolio-flters li {
        display: flex;
    }

    .info-title {
        white-space: nowrap;
        padding-left: 10px;
    }
}

@media screen and (max-width: 530px), (max-height: 700px) {
    .title {
        font-size: 80px;
        padding: 10px;
    }

    .subtitle {
        padding: 5px;
    }

    .tags-selector {
        margin-top: 50px;
    }
}

@media screen and (max-width: 475px) {
    .title {
        font-size: 70px;
        padding: 10px;
    }

    .subtitle {
        font-size: 40px;
    }
}

@media screen and (max-width: 450px) {
    .card-desc {
        font-size: 16px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 60px;
        padding: 10px;
    }

    .subtitle {
        font-size: 36px;
    }
}

@media screen and (max-width: 375px) {
    .card-desc {
        font-size: 14px;
        line-height: 1.0;
    }
}

@media screen and (max-width: 350px) {
    .title {
        font-size: 50px;
        padding: 10px;
    }

    .subtitle {
        font-size: 32px;
    }

    .tags-selector {
        margin-top: 80px;
    }
}

@media screen and (max-width: 300px) {
    .title {
        font-size: 40px;
        padding: 10px;
    }

    .subtitle {
        font-size: 26px;
    }
}