@media screen and (max-width: 1000px) {
    .tags-selector {
        margin: 0px 30px 15px 30px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 1000px) {
    .portfolio .portfolio-flters li {
        padding: 14px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 775px) {
    .tags-selector {
        margin: 15px 15px 15px 15px;
        justify-content: flex-start;
    }
    
    .info-title {
        font-size: 16px;
    }

    .title {
        font-size: 92px;
    }

    .portfolio {
        padding: 28px 0px 0px 0px !important;
    }
}

@media screen and (max-width: 700px) {
    .info-title {
        white-space: nowrap;
        padding-left: 10px;
    }
}

@media screen and (max-width: 530px), (max-height: 700px) {
    .tags-selector {
        margin-top: 50px;
    }
}

@media screen and (max-width: 450px) {
    .card-desc {
        font-size: 16px !important;
        line-height: 1.1 !important;
    }
}

@media screen and (max-width: 375px) {
    .card-desc {
        font-size: 14px !important;
        line-height: 1.0 !important;
    }
}

@media screen and (max-width: 350px) {
    .tags-selector {
        margin-top: 80px;
    }
}