/* Master Styling */
*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
}

::selection {
    background: #0A0A0A;
  }

::-moz-selection {
    background: #0A0A0A;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #1D1923;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    background-clip: border-box;
    background-color: #F8AB4C;
    box-shadow: 0px 0px 33px 3px #EEA74D;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #F8AB4C;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-image: url("/ASSETS/site-bg-2.png");
    background-repeat: repeat-y;
    background-size: auto;
    background-attachment: fixed;
    background-position: right;
    color: #F1F1F1;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


/* Navbar */
#navbar {
    background: linear-gradient(#44355B6b, #221E226b);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: ease-in-out .25s;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0px;
    height: 75px;
    width: 100%;
    line-height: .6;
    box-shadow: 0 0 15px 15px #221E226b;
}

#navbar a {
    color: #EC8609;
    text-decoration: none;
    font-family: Poppins;
}



#navbar-sahil-icon {
    width: 48px;
    transition: ease-in-out .25s;
}

#navbar-my-work-icon,
#navbar-youtube-icon {
    width: 48px;
    transition: ease-in-out .25s;
    filter: invert(58%) sepia(43%) saturate(6509%) hue-rotate(13deg) brightness(130%) contrast(93%)
            drop-shadow(0px 0px 9px #EC8609);
}

#navbar-docs-icon {
    width: 48px;
    transition: ease-in-out .25s;
    filter: drop-shadow(0px 0px 9px #F1F1F1);
}

#navbar-sahil-icon:hover,
#navbar-sahil-icon::before,
#navbar-sahil-icon::after,
#navbar-docs-icon:hover,
#navbar-docs-icon::before,
#navbar-docs-icon::after,
#navbar-my-work-icon:hover,
#navbar-my-work-icon::before,
#navbar-my-work-icon::after,
#navbar-youtube-icon:hover,
#navbar-youtube-icon::before,
#navbar-youtube-icon::after {  
    width: 52px;
    transition: ease-in-out .25;
    cursor: pointer;
}

/* Elements (Home Block) */
#home-block {
    background: linear-gradient(45deg, #0A0A0A, #221E22);
    width: 800px;
    height: 400px;
    box-shadow: 10px 10px 0px #221E22,
                20px 20px 0px #221E224b;
    filter: drop-shadow(0px 0px 9px #EC8609);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: ease-in-out .25s;
    margin: 30px;
}

.home-text {
font-family: Poller One;
    line-height: 1;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    
}

.home-text > h1 {
    font-size: 150px;
    color: #EC8609;
    line-height: .4;
    margin: 0;
    padding: 0;
    
}

.home-text > h2 {
    font-size: 90px;
    color: #F9AC4E;
    font-weight: lighter;
    margin: 50px;
    padding-left: 30px;
    line-height: 70px;
    font-size: 150px;
    color: #EC8609;
    line-height: .8;
    margin: 0;
    padding: 0;
}

#content {
    margin: 0 auto;
    margin-top: 20vh;
}



@media only screen and (max-width: 880px) {

    #home-block {
        width: 80vw;
    }

    .home-text > h1 {
        font-size: 20vw;
    }

    .home-text > h2 {
        font-size: 15vw;
    }
}