/* Page */

body {
    background-image: url("/ASSETS/site-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    overflow-x: hidden;
    /* margin: 0;
    padding: 0; */
    /* margin: 0 auto;
    /* filter: drop-shadow(4px 4px 1px #0A0A0A); */
    /* overflow: hidden; */
}

/* Page Content */

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 2;
}

/* Docs Whitespace (Below) */
.docs-whitespace {
    width: 100vw;
    margin: 50px 50px 50px 50px;
    padding: 15px 15px 15px 15px;
    transition: ease-in-out .25s;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
    height: 100%;
    width: 40vw;
    margin: 24px;
    
    -webkit-animation: fade-in-cursor 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fade-in-cursor 2s; /* Firefox < 16 */
    -ms-animation: fade-in-cursor 2s; /* Internet Explorer */
    -o-animation: fade-in-cursor 2s; /* Opera < 12.1 */
    animation: fade-in-cursor 2s;.
}

input::selection {
    background: #EC8609;
}

input::-moz-selection {
    background: #EC8609;
}


input {
    width: 40vw;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
    background: linear-gradient(45deg, #0A0A0A, #221E22);
    box-shadow: 10px 10px 0px #221E22,
    20px 20px 0px #221E224b;
    filter: drop-shadow(0px 0px 9px #EC8609);
    border: 2px solid #0A0A0A;
    font-family: 'Alata', serif;
    font-size: 16px;
    color: #F1F1F1;
    transition: ease-in-out .25s;
}

::placeholder {
    color: #F79926;
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

textarea {
    max-width: 40vw;
    min-width: 40vw;
    max-height: 400px;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
    background: linear-gradient(45deg, #0A0A0A, #221E22);
    box-shadow: 10px 10px 0px #221E22,
    20px 20px 0px #221E224b;
    filter: drop-shadow(0px 0px 9px #EC8609);
    border: 2px solid #0A0A0A;
    font-family: 'Alata', serif;
    font-size: 16px;
    color: #F1F1F1;
    transition: ease-in-out .25s;
}

button {
    width: 40vw;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
    background: linear-gradient(45deg, #0A0A0A, #221E22);
    box-shadow: 10px 10px 0px #221E22,
    20px 20px 0px #221E224b;
    filter: drop-shadow(0px 0px 9px #EC8609);
    color: #F79926;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    border: 2px solid #0A0A0A;
    cursor: pointer;
    
    transition: ease-in-out .25s;
}

button:active {
    filter: drop-shadow(0px 0px 33px #EC8609);
    transition: ease-in-out .25s;
}

#contact-other {
    height: 100%;
    width: 30vw;
    margin: 24px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 180px;

    
    -webkit-animation: fade-in-cursor 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fade-in-cursor 2s; /* Firefox < 16 */
    -ms-animation: fade-in-cursor 2s; /* Internet Explorer */
    -o-animation: fade-in-cursor 2s; /* Opera < 12.1 */
    animation: fade-in-cursor 2s;
}

.social-media {
    width: 30vw;
    margin: 8px;
    box-sizing: border-box;
    
    background: linear-gradient(45deg, #0A0A0A, #221E22);
    box-shadow: 10px 10px 0px #221E22,
    20px 20px 0px #221E224b;
    filter: drop-shadow(0px 0px 9px #EC8609);
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .25s;
}

.email {
    pointer-events: none;
}

.social-media-icon {
    width: 48px;
    margin: 0px 8px 0px 8px;
}

.social-media-text {
    color: #F79926;
    font-family: Poppins;
    font-size: 20px;
}

#discord-icon {
    width: 40px;
}

#address {
    margin-bottom: 48px;
}

.copy-text {
    display: flex;
    z-index: 8000000000000000;
    margin-left: 8px;
    
    cursor: pointer;
}

.qr-code {
    display: flex;
    z-index: 8000000000000000;
    margin-left: 8px;
    
    cursor: pointer;
}

.fancybox {
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.fancybox-toolbar {
    pointer-events: none;
}

.cursor-pointer {
    cursor: pointer;
}

.card .card-img-top {
    z-index: 99999;
}

/* Media Queries  */

@media only screen and (max-width: 1200px) {
    
    #contact-other {
        width: 40vw;
    }
    
    .social-media {
        width: 40vw;
    }
}

@media only screen and (max-width: 800px) {
    #content {
        flex-direction: column-reverse;
        margin-top: 200px;
        padding-bottom: 400px;
    }
    
    #contact-form {
        width: 80vw;
    }
    
    input {
        width: 80vw;
    }
    
    textarea {
        width: 80vw;
        max-width: 80vw;
        min-width: 80vw;
    }
    
    button {
        width: 80vw;
    }
    
    #contact-other {
        width: 80vw;
    }
    
    .social-media {
        width: 80vw;
    }
}

@media only screen and (max-width: 800px) {
    #content {
        margin-top: 200px;
    }
}