/* Custom Cursor */

/* Inner cursor */
.cursor {
    width: 20px;
    height: 20px;
    bottom: 0;
    border-radius: 50%;
    position: fixed;
    transform: scale(3);
    background-color: white;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 99000000;
    
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-duration: 500ms;
    animation: fade-in-cursor 1s;
    animation-duration: 1s;
}

/* Outer cursor */
.cursor2 {
    width: 20px;
    height: 20px;
    bottom: 0;
    border-radius: 50%;
    position: fixed;
    transform: scale(0.5);
    background-color: white;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    z-index: 98000000;
    
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: 150ms;
    animation: fadein2 2s;
    animation-duration: 2s;
}

/* Cursor disappears when VW <= 1000px */
@media only screen and (max-width: 1000px) {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        cursor: auto !important;
    }
    
    .cursor {
        transform: scale(0%) !important;
        display: none !important;
    }
    
    .cursor2 {
        transform: scale(0%) !important;
        display: none !important;
    }
}