hr {
    height: 1px;
    background-color: #F1F1F1;
    opacity: 100%;
    border-radius: 20px;

    -webkit-animation: fadein2 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 3s; /* Firefox < 16 */
    -ms-animation: fadein2 3s; /* Internet Explorer */
    -o-animation: fadein2 3s; /* Opera < 12.1 */
    animation: fadein2 3s;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    
    z-index: 2;
}

a {
    color: #F1F1F1;
    text-decoration: none;
    transition: ease-in-out .5s;
    cursor: pointer !important;
}

a:hover {
    color: #EC8609;
}

.title-separator {
    width: 200px;
    margin: 40px;
    color: #F1F1F1;
    /* opacity: 66%; */
    
    /* -webkit-animation: fadein2 5s;  Safari, Chrome and Opera > 12.1 
    -moz-animation: fadein2 5s;  Firefox < 16 
    -ms-animation: fadein2 5s;  Internet Explorer 
    -o-animation: fadein2 5s;  Opera < 12.1 
    animation: fadein2 5s; */
}

#title-screen {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* background-color: blue; */
    /* z-index: 11; */
    
    -webkit-animation: fadein3 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein3 4s; /* Firefox < 16 */
    -ms-animation: fadein3 4s; /* Internet Explorer */
    -o-animation: fadein3 4s; /* Opera < 12.1 */
    animation: fadein3 4s;
    
    z-index: 2;
}

.docs-whitespace {
    height: 15% !important;
}

#document-content {
    width: 1000px;
    min-width: 800px;
    min-height: 800px;
    padding: 24px;
    background-color: #0A0A0A6b;

    margin: 0 auto;
    margin-top: 100px;
}

.page-title {
    position: relative;
    font-family: 'Cinzel Decorative', 'Cinzel', 'Times New Roman', Times, serif;
    font-weight: 900;
    padding: 0px 40px 0px 40px;
    margin-top: 24px;
    color: #EC8609;
    filter: drop-shadow(0px 0px 33px #F9AC4E);
    line-height: 1;
    
    font-size: 48px;
    text-align: center;
    
    /* -webkit-animation: fadein3 4s; /* Safari, Chrome and Opera > 12.1
    -moz-animation: fadein3 4s; Firefox < 16
    -ms-animation: fadein3 4s;* Internet Explorer
    -o-animation: fadein3 4s;  Opera < 12.1 
    animation: fadein3 4s; */
    
    /* background-image:url("https://media.giphy.com/media/xVn3ZmKrKIOLS/giphy.gif");
    background-size: contain;
    background-position: top left;
    -webkit-background-clip: text; */
}

.project-title, .description-title, .date-title {
    background: linear-gradient(220deg, #EC8609 0%, #EC8609 8%, #FABA6D 10%, #EC8609 12%, #EC8609 20%);
    background-position: middle;
    background-size:1200% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 9s infinite linear;
    animation-fill-mode: none;
    -webkit-text-size-adjust: none;
}

@keyframes shine {
    0% {
        background-position: -1000px
    }
    100% {
        background-position: 2000px
    }
}

.page-subtitle {
    position: relative;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    color: #F9AC4E;
    filter: drop-shadow(0px 0px 33px #F9AC4E);
    line-height: 1;
    max-width: 1400px;
    
    font-size: 32px;
    text-align: center;
    padding: 0px 80px 0px 80px;
    
    -webkit-animation: fadein3 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein3 6s; /* Firefox < 16 */
    -ms-animation: fadein3 6s; /* Internet Explorer */
    -o-animation: fadein3 6s; /* Opera < 12.1 */
    animation: fadein3 6s;
}

h1 {
    /* position: relative; */
    font-family: 'Bodoni Moda', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #EC8609;
    /* filter: drop-shadow(0px 0px 33px #F9AC4E); */
    line-height: 1.4;
    /* padding-bottom: 20px; */
    
    font-size: 48px;
    text-align: left;
    /* text-transform: uppercase; */

    -webkit-animation: fadein2 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 1s; /* Firefox < 16 */
    -ms-animation: fadein2 1s; /* Internet Explorer */
    -o-animation: fadein2 1s; /* Opera < 12.1 */
    animation: fadein2 1s;
}

h2 {
    /* position: relative; */
    font-family: 'Bodoni Moda', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #EC8609;
    /* filter: drop-shadow(0px 0px 33px #F9AC4E); */
    line-height: 1.2;
    
    font-size: 32px;
    text-align: left;
    /* text-transform: uppercase; */

    -webkit-animation: fadein2 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 2s; /* Firefox < 16 */
    -ms-animation: fadein2 2s; /* Internet Explorer */
    -o-animation: fadein2 2s; /* Opera < 12.1 */
    animation: fadein2 2s;
}

h5 {
    font-family: 'Poppins';
    font-weight: 300;
    color: #F1F1F1;
    line-height: 1.4;
    font-size: 24px;
        
    -webkit-animation: fadein2 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 2s; /* Firefox < 16 */
    -ms-animation: fadein2 2s; /* Internet Explorer */
    -o-animation: fadein2 2s; /* Opera < 12.1 */
    animation: fadein2 2s;
}

h6 {
    font-family: 'Poppins';
    font-weight: 700;
    color: #EC8609;
    line-height: 1.4;
    font-size: 20px;
    
    -webkit-animation: fadein2 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 2s; /* Firefox < 16 */
    -ms-animation: fadein2 2s; /* Internet Explorer */
    -o-animation: fadein2 2s; /* Opera < 12.1 */
    animation: fadein2 2s;
}

p {
    /* position: relative; */
    font-family: 'Poppins';
    font-weight: 300;
    color: #F1F1F1;
    line-height: 1.4;
    /* margin-left: 32px; */
    
    font-size: 16px;
    text-align: left;
    
    -webkit-animation: fadein2 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 3s; /* Firefox < 16 */
    -ms-animation: fadein2 3s; /* Internet Explorer */
    -o-animation: fadein2 3s; /* Opera < 12.1 */
    animation: fadein2 3s;
}

.hyperlink {
    color: #F9AC4E;
}

.video-embed {
    margin: 64px;
    display: flex;
    justify-content: center;
}

.video-glow {
    box-shadow: 0px 0px 33px #EC8609;
    
    -webkit-animation: fadein2 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 2s; /* Firefox < 16 */
    -ms-animation: fadein2 2s; /* Internet Explorer */
    -o-animation: fadein2 2s; /* Opera < 12.1 */
    animation: fadein2 2s;
    user-select: none;
}

.two-columns {
    display: flex;
    justify-content: center;
}

.two-columns > * {
    width: 50%;
}

.card-btns-title {
    text-align: left !important;
    display: inline-block;

    -webkit-animation: fadein2 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 3s; /* Firefox < 16 */
    -ms-animation: fadein2 3s; /* Internet Explorer */
    -o-animation: fadein2 3s; /* Opera < 12.1 */
    animation: fadein2 3s;
}

.card-btns-text {
    margin-top: 10px;
    margin-left: 6px;
    font-style: italic;
}