/* Page */

body {
    background-image: url("/ASSETS/site-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    overflow-x: hidden;
    /* margin: 0;
    padding: 0; */
    /* margin: 0 auto;
    /* filter: drop-shadow(4px 4px 1px #0A0A0A); */
    /* overflow: hidden; */
}

/* Page Content */

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.home-text {
    display: flex;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.morphing {
    position: relative;
    font-family: 'Black Han Sans', 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 500;
    color: #EC8609;
    min-height: 100vh;
    filter:blur(0px);
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 33px #EC8609);
    filter: drop-shadow(0px 0px 33px #F9AC4E);

    -webkit-animation: fadein4 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein4 6s; /* Firefox < 16 */
    -ms-animation: fadein4 6s; /* Internet Explorer */
    -o-animation: fadein4 6s; /* Opera < 12.1 */
    animation: fadein4 2s;
    user-select: none;

}

.hello {
    position: absolute;
    animation: hello-fade 16s infinite ease-in-out;
    word-break: keep-all;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-delay: 4s;
}

.hello-icon {
    max-width: 84px;
    max-height: 84px;
}

#earth-icon {
    max-width: 64px;
    max-height: 64px;
}

.hello:nth-child(1) {
    animation-delay: -16s;
}

.hello:nth-child(2) {
    animation-delay: -12s;
}

.hello:nth-child(3) {
    animation-delay: -8s;
}

.hello:nth-child(4) {
    animation-delay: -4s;
}

@keyframes hello-fade {
    0%, 5%, 100% {
        filter: blur(0px);
        opacity: 1;
   }
    20%, 80% {
        filter: blur(0.1em);
        opacity: 0;
   }
}

#welcome-to-text {
    position: absolute;
    padding-top: 120px;
    animation: hello-fade 16s infinite ease-in-out;
    word-break: keep-all;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Cinzel', serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #F79926;
    filter: drop-shadow(0px 0px 33px #F79926);

    -webkit-animation: fadein2 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 4s; /* Firefox < 16 */
    -ms-animation: fadein2 4s; /* Internet Explorer */
    -o-animation: fadein2 4s; /* Opera < 12.1 */
    animation: fadein2 4s;
}