/* Page Content */
#content {
    position: relative;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.morphing {
    position: absolute;
    font-family: 'Black Han Sans', 'Poppins', sans-serif;
    font-weight: 500;
    color: #EC8609;
    filter:blur(.2px) drop-shadow(0px 0px 33px #F9AC4E);
    text-transform: uppercase;


    -webkit-animation: fadein3 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein3 4s; /* Firefox < 16 */
    -ms-animation: fadein3 4s; /* Internet Explorer */
    -o-animation: fadein3 4s; /* Opera < 12.1 */
    animation: fadein3 4s;
    

    z-index: 13;

    font-size: 132px;
    margin-top: 220px;
    /* margin-top: 22vh; */
    /* margin-left: 80px; */
    margin-left: 10vw;

    display: flex;
    height: 100%;
}

.hello {
    height: 100%;
    width: 100%;
    animation: hello-fade 16s infinite ease-in-out;
    word-break: keep-all;
    position: absolute;
    z-index: 20;
    display: flex;

    animation-delay: 4s;
    margin: 0;
}

.hello-icon {
    margin-top: 148px;
    /* margin-top: 14.5vh; */
    max-width: 116px;
    max-height: 116px;
}

#earth-icon {
        /* margin-top: 148px; */
    margin-top: 154px;
    max-width: 108px;
    max-height: 108px;
}

#welcome-to-text {
    position: absolute;
    word-break: keep-all;

    font-family: 'Jost', serif;
    font-size: 105px;
    text-transform: none;
    color: #F79926;
    filter: drop-shadow(0px 0px 33px #F79926);

    -webkit-animation: fadein2 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 4s; /* Firefox < 16 */
    -ms-animation: fadein2 4s; /* Internet Explorer */
    -o-animation: fadein2 4s; /* Opera < 12.1 */
    animation: fadein2 4s;
    z-index: 13;
}

#welcome-text-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    height: 20%;
    width: 100%;
        margin-top: 310px;
        /* margin-top: 32vh; */
        /* margin-left: 340px; */
        margin-left: 20vw;
}


#desc {
    padding: 80px;
    padding-bottom: 200px;
    z-index: 13;
}

#description-text {
    height: 100%;
    width: 100%;
    margin-top: 100px;
    z-index: 99;

    font-family: 'Jost', serif;
    font-size: 50px;
    text-transform: none;
    color: #F79926;
    filter: drop-shadow(0px 0px 33px #F79926);

    -webkit-animation: fadein2 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 6s; /* Firefox < 16 */
    -ms-animation: fadein2 6s; /* Internet Explorer */
    -o-animation: fadein2 6s; /* Opera < 12.1 */
    animation: fadein2 6s;

    margin-top: 200px;
    position: relative;
    height: auto;
    width: 100%;
}

#bottom-desc-text {
    color: #F9AC4E;
}

#icon-main-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    z-index: 1;
}

#icon-main {
    width: 33vw;
    min-width: 600px;
    /* width: 680px; */
    /* margin-right: 80px; */
    margin-right: 2vw;

    clip-path: circle(50% at 50% 50%);
    z-index: 11;

    
    -webkit-animation: fadein2 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 1s; /* Firefox < 16 */
    -ms-animation: fadein2 1s; /* Internet Explorer */
    -o-animation: fadein2 1s; /* Opera < 12.1 */
    animation: fadein 1s;

}


.hello:nth-child(1) {
    animation-delay: -16s;
}

.hello:nth-child(2) {
    animation-delay: -12s;
}

.hello:nth-child(3) {
    animation-delay: -8s;
}

.hello:nth-child(4) {
    animation-delay: -4s;
}

@keyframes hello-fade {
    0%, 5%, 100% {
        filter: blur(0em);
        opacity: 1;
   }
    20%, 80% {
        filter: blur(.2em);
        opacity: 0;
   }
}

.mouse {
    overflow: hidden;
    position: absolute;
    left:50%;
    top:90%;
    width:24px;
    margin: -12px;
    height:50px;
    border:2px solid white;
    border-radius:30px;
    opacity: 33%;
    
    display: flex;
    
    z-index: 30;
}

.mouse a {
    position: absolute;
    bottom: 0px;
    left: 00%;
    z-index: 40;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    
    overflow: hidden;
    position: absolute;
    border-radius:30px;
    opacity: 33%;
    
    z-index: 30;
    cursor: pointer !important;
}

.demo a:hover {
    opacity: .5;
}

.mouse::after {
    display: block;
    content:"";
    position:absolute;
    left:11px;
    top:10px;
    width:4px;
    height:4px;
    margin-left: -3px;
    background-color:white;
    border-radius:2px;
    animation: mouse-wheel 2.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes mouse-wheel {
    0% {
        transform: translateY(0);
        opacity: 0;
    }  
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    30% {
        transform: translateY(0);
        height: 4px;
    }
    50% {
        transform: translateY(0);
        height: 20px;
    }
    70% {
        transform: translateY(15px);
        height: 4px;
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

#section01 a {
    padding-top: 60px;
    
}
#section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section02 a {
    padding-top: 60px;
}
#section02 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}
#section02 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
} */

.fancybox {
    position: relative;
    z-index: 0;
    cursor: pointer;
    }

.fancybox-toolbar {
    pointer-events: none;
}

.cursor-pointer {
    cursor: pointer;
}

@media only screen and (max-width: 1675px) {
    .morphing {
        margin-left: 5vw;
    }

    #welcome-text-wrapper {
        margin-left: 15vw;
    }

    #description-text {
        margin-top: 80px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 1550px) {
    #welcome-text-wrapper {
        margin-top: 330px;
    }

    #welcome-to-text {
        font-size: 95px;
    }

}

@media only screen and (max-width: 1475px) {
    .morphing {
        margin-left: 40px;
        font-size: 116px;
    }

    #welcome-text-wrapper {
        margin-left: 15vw;
        margin-top: 330px;
    }

    .hello-icon {
        margin-top: 125px;
    }

    #earth-icon {
        margin-top: 125px;
    }

    #welcome-to-text {
        font-size: 80px;
    }

    #description-text {
        margin-top: 80px;
        font-size: 40px;
    }

    #icon-main {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 1375px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #icon-main {
        margin-top: 80px;
        animation: fadein3 1s;
    }

    #welcome-text-wrapper {
        margin-top: 500px;
        margin-left: 0px;
    }
    
    #welcome-to-text {
        font-size: 95px;
        display: flex;
        justify-content: flex-end;
        padding-right: 10vw;
    }
    
    .hello {
        /* margin-left: 0px; */
        display: flex;
        justify-content: flex-start;
        padding-left: 10vw;
    }

    .morphing {
        font-size: 132px;
        margin-top: 400px;
    }

    .hello-icon {
        margin-top: 148px;
        /* margin-top: 14.5vh; */
        max-width: 116px;
        max-height: 116px;
    }
    
    #earth-icon {
        /* margin-top: 148px; */
        margin-top: 148px;
        max-width: 108px;
        max-height: 108px;
    }

    .mouse {
        top: 95%;
    }
}

@media only screen and (max-width: 1100px) {
    #welcome-to-text {
        padding-right: 40px;
    }

    .hello {
        padding-left: 40px;
    }
}

@media only screen and (max-width: 1000px) {
    #icon-main {
        margin-top: 50px;
    }

    #welcome-text-wrapper {
        margin-top: 550px;
        margin-left: 0px;
    }
    
    #welcome-to-text {
        font-size: 80px;
        padding-right: 40px;
    }

    .morphing {
        font-size: 116px;
        margin-top: 450px;
    }

    .hello-icon {
        margin-top: 125px;
        /* margin-top: 14.5vh; */
    }
    
    #earth-icon {
        /* margin-top: 148px; */
        margin-top: 125px;
    }

    #description-text {
        margin-top: 80px;
        font-size: 30px;
    }

    #desc {
        padding: 40px;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 875px) {
    #icon-main {
        margin-top: 80px;
    }

    #welcome-text-wrapper {
        margin-top: 550px;
        margin-left: 0px;
    }
    
    #welcome-to-text {
        font-size: 80px;
        padding-right: 40px;
    }

    .morphing {
        font-size: 92px;
        margin-top: 500px;
    }

    .hello-icon {
        margin-top: 100px;
        /* margin-top: 14.5vh; */
        max-width: 92px;
        max-height: 92px;
    }
    
    #earth-icon {
        /* margin-top: 148px; */
        margin-top: 100px;
        max-width: 92px;
        max-height: 92px;
    }
}

@media only screen and (max-width: 775px) {
    #icon-main {
        margin-top: 120px;
        min-width: 500px;
    }

    #welcome-text-wrapper {
        margin-top: 560px;
        margin-left: 0px;
    }
    
    #welcome-to-text {
        font-size: 80px;
        padding-right: 20px;
    }
        
    .hello {
        padding-left: 20px;
    }

    .morphing {
        font-size: 80px;
        margin-top: 530px;
        margin-left: 0px;
    }

    .hello-icon {
        margin-top: 85px;
        /* margin-top: 14.5vh; */
        max-width: 80px;
        max-height: 80px;
    }
    
    #earth-icon {
        /* margin-top: 148px; */
        margin-top: 85px;
        max-width: 80px;
        max-height: 80px;
    }

    #description-text {
        font-size: 28px;
    }

    #desc {
        padding: 30px;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 650px) {
    #welcome-text-wrapper {
        margin-top: 570px;
        margin-left: 0px;
    }
    
    #welcome-to-text {
        font-size: 75px;
        padding-right: 10px;
    }
        
    .hello {
        padding-left: 10px;
    }

    .hello-icon {
        margin-top: 85px;
        /* margin-top: 14.5vh; */
        max-width: 80px;
        max-height: 80px;
    }
    
    #earth-icon {
        /* margin-top: 148px; */
        margin-top: 90px;
        max-width: 70px;
        max-height: 70px;
    }

    .mouse {
        top: 90%;
    }
}

@media only screen and (max-width: 575px) {
    #welcome-text-wrapper {
        margin-top: 590px;
        margin-left: 0px;
    }
    
    #welcome-to-text {
        font-size: 60px;
        padding-right: 20px;
    }
        
    .hello {
        padding-left: 20px;
    }

    .morphing {
        font-size: 60px;
        margin-top: 570px;
    }

    .hello-icon {
        margin-top: 64px;
        /* margin-top: 14.5vh; */
        max-width: 60px;
        max-height: 60px;
    }
    
    #earth-icon {
        /* margin-top: 148px; */
        margin-top: 68px;
        max-width: 50px;
        max-height: 50px;
    }
    
    #description-text {
        font-size: 24px;
    }

    #desc {
        padding: 20px;
        padding-bottom: 80px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    #icon-main {
        margin-top: 100px;
        min-width: 450px;
    }

    .hello {
        padding-left: 10px;
    }

    #welcome-to-text {
        padding-right: 10px;
    }

    .hello-icon {
        margin-right: -05px;
    }

    
    #description-text {
        font-size: 22px;
        overflow: hidden;
    }

    #desc {
        padding-top: 140px;
        padding-bottom: 140px;
    }

}

@media only screen and (max-width: 450px) {
    #icon-main {
        margin-top: 100px;
        min-width: 400px;
    }

    #welcome-text-wrapper {
        margin-top: 590px;
        margin-left: 0px;
    }
    
    #welcome-to-text {
        font-size: 50px;
        padding-right: 10px;
    }
        
    .hello {
        padding-left: 10px;
    }

    .morphing {
        font-size: 50px;
        margin-top: 570px;
    }

    .hello-icon {
        margin-top: 50px;
        /* margin-top: 14.5vh; */
        max-width: 60px;
        max-height: 60px;
    }
    
    #earth-icon {
        /* margin-top: 148px; */
        margin-top: 54px;
        max-width: 50px;
        max-height: 50px;
    }

    #description-text {
        font-size: 24px;
        overflow: hidden;
    }

    #desc {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 415px) {
    #welcome-text-wrapper {
        margin-top: 608px;
    }
    
    #welcome-to-text {
        font-size: 40px;
    }

    #description-text {
        font-size: 24px;
        overflow: hidden;
    }

    #desc {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 375px) {
    #icon-main {
        margin-top: 150px;
        min-width: 350px;
    }

    #welcome-text-wrapper {
        margin-top: 608px;
    }
    
    #welcome-to-text {
        font-size: 30px;
    }
        
    .hello {
        padding-left: 10px;
    }

    .morphing {
        font-size: 40px;
        margin-top: 570px;
    }

    .hello-icon {
        margin-top: 45px;
        /* margin-top: 14.5vh; */
        max-width: 40px;
        max-height: 40px;
    }
    
    #earth-icon {
        /* margin-top: 148px; */
        margin-top: 49px;
        max-width: 30px;
        max-height: 30px;
    }
}

@media only screen and (max-width: 350px) {
    #icon-main-wrapper {
        align-items: center;
        margin-bottom: 40px;
    }
    
    #icon-main {
        min-width: 80vw;
    }
    
    #description-text {
        font-size: 20px;
        overflow: hidden;
    }

    #desc {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1375px) and (max-height: 800px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #icon-main {
        margin-top: 40px;
    }
    
    #welcome-text-wrapper {
        margin-top: 460px;
        margin-left: 0px;
    }

    .morphing {
        margin-top: 360px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1375px) and (max-height: 750px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #icon-main {
        margin-top: 40px;
        transform: scale(90%);
    }
    
    #welcome-text-wrapper {
        margin-top: 390px;
        margin-left: 0px;
    }

    .morphing {
        margin-top: 280px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1375px) and (max-height: 675px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #icon-main {
        min-width: 80vh;
    }

    .morphing {
        font-size: 80px;
        margin-top: 100px;
        margin-left: 40px;
    }

    .hello {
        padding-left: 0px;
    }
    
    .hello-icon {
        margin-top: 86px;
        max-width: 80px;
        max-height: 80px;
    }
    
    #earth-icon {
        margin-top: 90px;
        max-width: 70px;
        max-height: 70px;
    }
    
    #welcome-to-text {
        justify-content: flex-start;
        font-size: 80px;
    }
    
    #welcome-text-wrapper {
        margin-top: 140px;
        margin-left: 80px;
    }
    
    
    #desc {
        padding: 80px;
        padding-bottom: 200px;
    }
    
    #description-text {
        font-family: 'Jost', serif;
        font-size: 30px;
        margin-top: 200px;
        width: 100%;
    }
    
    #bottom-desc-text {
        color: #F9AC4E;
    }

    .mouse {
        top: 90%;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1375px) and (max-height: 400px) {
    .morphing {
        margin-top: 50px;
        margin-left: 40px;
    }

    .hello-icon {
        margin-top: 26px;
        max-width: 80px;
        max-height: 80px;
    }

    #welcome-text-wrapper {
        margin-top: 80px;
    }

    .hello-icon {
        margin-top: 86px;
        max-width: 80px;
        max-height: 80px;
    }
    
    #earth-icon {
        margin-top: 92px;
        max-width: 70px;
        max-height: 70px;
    }

    .mouse {
        top: 80%;
    }
}

@media only screen and (min-width: 1375px) and (max-height: 700px) {
    .morphing {
        margin-top: 80px;
        margin-left: 40px;
    }

    .hello-icon {
        margin-top: 26px;
        max-width: 80px;
        max-height: 80px;
    }

    #welcome-text-wrapper {
        margin-top: 180px;
    }

    .hello-icon {
        margin-top: 156px;
        max-width: 105px;
        max-height: 105px;
    }
    
    #earth-icon {
        margin-top: 164px;
        max-width: 90px;
        max-height: 90px;
    }
}

@media only screen and (min-width: 1375px) and (max-height: 550px) {
    #icon-main {
        min-width: 450px;
        max-width: 450px;
    }

    .morphing {
        margin-top: 10px;
        margin-left: 40px;
    }

    .hello-icon {
        margin-top: 26px;
        max-width: 80px;
        max-height: 80px;
    }

    #welcome-text-wrapper {
        margin-top: 100px;
    }

    .hello-icon {
        margin-top: 156px;
        max-width: 105px;
        max-height: 105px;
    }
    
    #earth-icon {
        margin-top: 164px;
        max-width: 90px;
        max-height: 90px;
    }
}

@media only screen and (min-width: 775px) and (max-width: 900px) and (max-height: 800px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: center;
    }

    #icon-main {
        transform: scale(80%);
        margin-top: 0px;
    }

    .morphing {
        margin-top: 380px;
    }

    #welcome-text-wrapper {
        margin-top: 430px;
    }

    .mouse {
        top: 93%;
    }
}

@media only screen and (min-width: 775px) and (max-width: 900px) and (max-height: 675px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #icon-main {
        transform: scale(60%);
        margin-top: -40px;
    }

    .morphing {
        margin-top: 280px;
    }

    #welcome-text-wrapper {
        margin-top: 340px;
    }

    #welcome-to-text {
        transform: scale(90%);
    }
}

@media only screen and (min-width: 775px) and (max-width: 900px) and (max-height: 575px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #icon-main {
        transform: scale(50%);
        margin-top: -80px;
    }

    .morphing {
        transform: scale(80%);
        margin-top: 170px;
    }

    #welcome-text-wrapper {
        margin-top: 266px;
    }

    #welcome-to-text {
        transform: scale(70%);
    }

    .mouse {
        top: 90%;
    }
}

@media only screen and (min-width: 775px) and (max-width: 900px) and (max-height: 450px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #icon-main {
        min-width: 700px;
        max-width: 700px;
        margin: 0;
        margin-right: -150px;
    }

    .morphing {
        font-size: 80px;
        margin-top: 100px;
        margin-left: 40px;
        transform: scale(100%);
    }

    .hello {
        padding-left: 0px;
    }
    
    .hello-icon {
        margin-top: 86px;
        max-width: 80px;
        max-height: 80px;
    }
    
    #earth-icon {
        margin-top: 90px;
        max-width: 70px;
        max-height: 70px;
    }
    
    #welcome-to-text {
        justify-content: flex-start;
        font-size: 80px;
        transform: scale(80%);
    }
    
    #welcome-text-wrapper {
        margin-top: 140px;
        margin-left: 80px;
    }
    
    
    #desc {
        padding: 80px;
        padding-bottom: 200px;
    }
    
    #description-text {
        font-family: 'Jost', serif;
        font-size: 30px;
        margin-top: 200px;
        width: 100%;
    }
    
    #bottom-desc-text {
        color: #F9AC4E;
    }

    .mouse {
        top: 90%;
    }
}

@media only screen and (min-width: 475px) and (max-width: 775px) and (max-height: 450px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #icon-main {
        min-width: auto;
        max-width: auto;
        transform: scale(150%);
        margin: 0;
        margin-right: 80px;
    }

    .morphing {
        font-size: 80px;
        margin-top: 20px;
        margin-left: -40px;
        transform: scale(80%);
    }

    .hello {
        padding-left: 0px;
    }
    
    .hello-icon {
        margin-top: 86px;
        max-width: 80px;
        max-height: 80px;
    }
    
    #earth-icon {
        margin-top: 90px;
        max-width: 70px;
        max-height: 70px;
    }
    
    #welcome-to-text {
        justify-content: flex-start;
        white-space: nowrap;
        font-size: 80px;
        transform: scale(60%);
    }
    
    #welcome-text-wrapper {
        margin-top: 100px;
        margin-left: 40px;
    }
    
    
    #desc {
        padding: 80px;
        padding-bottom: 40px;
    }
    
    #description-text {
        font-family: 'Jost', serif;
        font-size: 20px;
        margin-top: 60px;
        width: 100%;
    }
    
    #bottom-desc-text {
        color: #F9AC4E;
    }

    .mouse {
        top: 90%;
    }
}

@media only screen and (max-width: 475px) and (max-height: 450px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #icon-main {
        min-width: auto;
        max-width: auto;
        transform: scale(150%);
        margin: 0;
        margin-right: 40px;
    }

    .morphing {
        font-size: 80px;
        margin-top: 0px;
        margin-left: -110px;
        transform: scale(50%);
    }

    .hello {
        padding-left: 0px;
    }
    
    .hello-icon {
        margin-top: 86px;
        max-width: 80px;
        max-height: 80px;
    }
    
    #earth-icon {
        margin-top: 90px;
        max-width: 70px;
        max-height: 70px;
    }
    
    #welcome-to-text {
        justify-content: flex-start;
        white-space: nowrap;
        font-size: 80px;
        transform: scale(30%);
    }
    
    #welcome-text-wrapper {
        margin-top: 120px;
        margin-left: -80px;
    }
    
    
    #desc {
        padding: 80px;
        padding-bottom: 40px;
    }
    
    #description-text {
        font-family: 'Jost', serif;
        font-size: 20px;
        margin-top: 60px;
        width: 100%;
    }
    
    #bottom-desc-text {
        color: #F9AC4E;
    }

    .mouse {
        top: 90%;
    }
}

@media only screen and (min-width: 775px) and (max-width: 900px) and (max-height: 575px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #icon-main {
        transform: scale(50%);
        margin-top: -80px;
    }

    .morphing {
        transform: scale(80%);
        margin-top: 170px;
    }

    #welcome-text-wrapper {
        margin-top: 266px;
    }

    #welcome-to-text {
        transform: scale(70%);
    }

    .mouse {
        top: 90%;
    }
}

@media only screen and (min-width: 775px) and (max-width: 900px) and (max-height: 575px) {
    #icon-main-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #icon-main {
        transform: scale(50%);
        margin-top: -80px;
    }

    .morphing {
        transform: scale(80%);
        margin-top: 170px;
    }

    #welcome-text-wrapper {
        margin-top: 266px;
    }

    #welcome-to-text {
        transform: scale(70%);
    }

    .mouse {
        top: 90%;
    }
}

@media only screen and (min-width: 575px) and (max-width: 775px) and (min-height: 450px) and (max-height: 800px) {
    #icon-main {
        margin-top: 80px;
    }

    .morphing {
        margin-top: 380px;
    }

    #welcome-text-wrapper {
        margin-top: 420px;
    }

    .mouse {
        top: 90%;
    }
}

@media only screen and (min-width: 450px) and (max-width: 575px) and (min-height: 450px) and (max-height: 800px) {
    #icon-main {
        margin-top: 80px;
    }

    .morphing {
        margin-top: 400px;
    }

    #welcome-text-wrapper {
        margin-top: 420px;
    }

    .mouse {
        top: 90%;
    }
}

@media only screen and (min-width: 450px) and (max-width: 575px) and (min-height: 450px) and (max-height: 600px) {
    #icon-main {
        margin-top: 80px;
    }

    .morphing {
        margin-top: 400px;
    }

    #welcome-text-wrapper {
        margin-top: 420px;
    }

    .mouse {
        top: 90%;
    }
}

@media only screen and (max-width: 450px) and (min-height: 450px) and (max-height: 750px) {
    #icon-main {
        margin-top: 80px;
    }

    .morphing {
        margin-top: 420px;
    }

    #welcome-text-wrapper {
        margin-top: 460px;
    }

    .mouse {
        top: 90%;
    }
}