/* Page */

/* Page Content */

#content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    z-index: 2;
}

.home-text {
    display: flex;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.morphing {
    position: relative;
    font-family: 'Black Han Sans', 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 500;
    color: #EC8609;
    min-height: 100vh;
    filter:blur(2px);
    text-transform: uppercase;
    filter: drop-shadow(0px 0px 33px #EC8609);
    filter: drop-shadow(0px 0px 33px #F9AC4E);

    -webkit-animation: fadein4 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein4 2s; /* Firefox < 16 */
    -ms-animation: fadein4 2s; /* Internet Explorer */
    -o-animation: fadein4 2s; /* Opera < 12.1 */
    animation: fadein4 2s;
    user-select: none;

}

.hello {
    position: absolute;
    animation: hello-fade 16s infinite ease-in-out;
    word-break: keep-all;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-delay: 4s;
}

.hello-icon {
    max-width: 84px;
    max-height: 84px;
}

#icon-main {
    position: absolute;
    max-width: 128px;
    max-height: 128px;
    justify-content: center;
}

#icon-main-wrapper {
    margin: 0 auto;
    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#earth-icon {
    max-width: 64px;
    max-height: 64px;
}

.hello:nth-child(1) {
    animation-delay: -16s;
}

.hello:nth-child(2) {
    animation-delay: -12s;
}

.hello:nth-child(3) {
    animation-delay: -8s;
}

.hello:nth-child(4) {
    animation-delay: -4s;
}

@keyframes hello-fade {
    0%, 5%, 100% {
        filter: blur(0px);
        opacity: 1;
   }
    20%, 80% {
        filter: blur(0.1em);
        opacity: 0;
   }
}

#welcome-to-text {
    position: absolute;
    padding-top: 120px;
    padding-left: 180px;
    animation: hello-fade 16s infinite ease-in-out;
    word-break: keep-all;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Jost', serif;
    font-size: 88px;
    text-transform: lowercase;
    color: #F79926;
    filter: drop-shadow(0px 0px 33px #F79926);

    -webkit-animation: fadein2 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 4s; /* Firefox < 16 */
    -ms-animation: fadein2 4s; /* Internet Explorer */
    -o-animation: fadein2 4s; /* Opera < 12.1 */
    animation: fadein2 4s;
}

@media screen and (min-width: 600px) {
    .morphing {
        font-size: 64px;
    }
}