/* Page */

/* Disclaimer */
.disclaimer {
    background-color: #1F1F1F;
    width: 100vw;
    margin: 50px 50px 50px 50px;
    padding: 15px 15px 15px 15px;
    box-shadow: 10px 10px 0px #221E228b;
    filter: drop-shadow(0px 0px 9px #EC8609);
    transition: ease-in-out .25s;
    color: #EC8609;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1;
}

/* Tags Selector */

/* Docs Whitespace (Below) */
.docs-whitespace {
    width: 100%;
    margin: 50px 50px 50px 50px;
    padding: 15px 15px 15px 15px;
    transition: ease-in-out .25s;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1;
}

/* Documents */
.doc-list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.doc {
    background: linear-gradient(45deg, #0A0A0A, #221E22);
    min-width: 250px;
    max-width: 250px;
    height: 300px;
    box-shadow: 10px 10px 0px #221E22,
    20px 20px 0px #221E224b;
    filter: drop-shadow(0px 0px 9px #EC8609);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: ease-in-out .25s;
    margin: 30px;
    
    -webkit-animation: fadein3 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein3 2s; /* Firefox < 16 */
    -ms-animation: fadein3 2s; /* Internet Explorer */
    -o-animation: fadein3 2s; /* Opera < 12.1 */
    animation: fadein3 2s;
    z-index: 2;
}

.doc-bg-img {
    width: 275px;
    height: 300px;
    position: absolute;
    z-index: 1;
    opacity: .11;
    object-fit: fill;    
    -webkit-animation: fadeinbgimg 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinbgimg 4s; /* Firefox < 16 */
    -ms-animation: fadeinbgimg 4s; /* Internet Explorer */
    -o-animation: fadeinbgimg 4s; /* Opera < 12.1 */
    animation: fadeinbgimg 0s;
}

#music-resources-bg {
    filter: brightness(400%) blur(1.5px);
    background: url(https://images.unsplash.com/photo-1585298723682-7115561c51b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80.png);
    background-size: cover;
    position: absolute;
    scale: 130%;
    background-position: 50% 20%;
    transition: height 2s, width 2s;
}

#useful-applications-bg {
    filter: brightness(75%) blur(2.5px);
    background: url(https://images.unsplash.com/flagged/photo-1569144654912-5f146d08b98b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80.png);
    background-size: cover;
    position: absolute;
    scale: 130%;
    background-position: 40% 20%;
    transition: height 2s, width 2s;
}

#useful-websites-bg {
    filter: brightness(50%) blur(2.5px);
    background: url(https://images.unsplash.com/photo-1590965918603-0dce981d13b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80.png);
    background-size: cover;
    position: absolute;
    scale: 150%;
    background-position: 90% 10%;
    transition: height 2s, width 2s;
}

#browser-games-bg {
    filter: brightness(50%) blur(1px);
    transform: rotate(-45deg);
    background: url(https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80.png);
    background-size: cover;
    position: absolute;
    scale: 150%;
    background-position: 90% 40%;
    transition: height 2s, width 2s;
}

.doc:hover {
    filter: drop-shadow(0px 0px 33px #EC8609);
    transition: ease-in-out .25s;
}

.doc a span { 
    position: absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    cursor: pointer !important;
    z-index: 4;
}

.doc-info {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: Bold;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

/* Document Text */
.doc-title  {
    color: #F1F1F1;
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-size: 26px;
    font-family: 'Cinzel', sans-serif;
    font-weight: 800;
    line-height: 1;
    z-index: 4;
}

.doc-desc {
    color: #E3E3E3;
    margin: 0;
    text-align: center;
    font-family: 'Alata';
    padding: 5px;
    font-weight: 400;
    line-height: 1.25;
    z-index: 4;

}

#link-email {
    color: #F8AB4C;
}

#portfolio-wrapper {
    display: flex;
}

#portfolio {
    padding: 80px 0;
}

#portfolio #portfolio-wrapper {
    padding-right: 15px;

    position: relative;
}

.tags-selector {
    background: linear-gradient(180deg, #0A0A0A3b, #221E223b);

    margin: 15px 30px 15px 30px;
    border-radius: 500px;
    
    transition: ease-in-out .25s;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0 8px 32px 0 #0A0A0A;
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border: 2px solid #EC8609;

    -webkit-animation: fadein3 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein3 1s; /* Firefox < 16 */
    -ms-animation: fadein3 1s; /* Internet Explorer */
    -o-animation: fadein3 1s; /* Opera < 12.1 */
    animation: fadein3 1s;

    position: relative;

    display: flex;

    z-index: 1;

    transition: ease-in-out 1s;
}

.info-title {
    color: #F1F1F1;
    padding: 10px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1;
    /* padding: 0px 20px 0px 20px; */
    /* padding-left: 20px; */
}

#portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    display: flex;
}

#portfolio #portfolio-flters li {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #F1F1F1;
    transition: all 0.3s ease-in-out;
    color: #F1F1F1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    background-color: #221E22;
    text-align: center;
    filter: drop-shadow(0px 0px 3px #EC8609);

    cursor: pointer !important;
    transition: ease-in-out .25s;
    width: auto;
    border-radius: 1000px;

    text-align: center;

    width: auto;
    padding: 14px;
    margin: 10px;
}

#portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
    background: #EC8609;
    color: #fff;
}

#portfolio .portfolio-item {
    position: relative;
    overflow: hidden !important;
    margin-bottom: 15px;
    transition: all 350ms ease;
    transform: scale(1);
}

#portfolio .portfolio-item .details {
    height: 50px;
    background: #2dc997;
    position: absolute;
    bottom: 0;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Media Queries */

@media only screen and (max-width: 1000px) {
    .doc-list {
        justify-content: center;
        padding-right: 20px;
    }

    #portfolio #portfolio-flters li {
        width: auto;
        max-height: 40px;
        padding: 10px 10px 10px 10px;
        white-space: nowrap;
    }
    
    .info-title {
        width: auto;
        position: relative;
        max-height: 40px;
        padding: 10px 20px 10px 20px;
    }
}

@media only screen and (max-width: 800px) {
    .tags-selector {
        margin: 15px 10px 15px 10px;
    }
}

@media only screen and (max-width: 650px) {
    .doc {
        min-width: 400px;
        max-width: 400px;
    }
    
    .doc-bg-img {
        transform: scale(150%);
        margin-left: 70px;
    }

    .doc-list {
        margin-left: 6px;
    }

    .tags-selector {
        margin: 15px 05px 15px 05px;
        border-radius: 5px;
    }

    #browser-games-bg {
        transform: scale(170%);
    }

    .info-title {
        padding: 5px 0px 5px 0px;
    }
}

@media only screen and (max-width: 500px) {
    .doc {
        min-width: 90vw;
        max-width: 90vw;
    }

    .doc-bg-img {
        transform: scale(120%);
        margin-left: 60px;
    }

    #browser-games-bg {
        transform: scale(110%);
    }

    .tags-selector {
        margin: 15px 05px 15px 05px;
    }
}

@media only screen and (max-width: 500px) {
    .doc {
        min-width: 90vw;
        max-width: 90vw;
    }

    .doc-bg-img {
        transform: scale(130%);
        margin-left: 80px;
    }

    #browser-games-bg {
        transform: scale(110%);
    }

    .tags-selector {
        margin: 15px 05px 15px 05px;
    }
}

@media only screen and (max-width: 450px) {
    .doc {
        min-width: 90vw;
        max-width: 90vw;
    }

    .doc-bg-img {
        transform: scale(120%);
        margin-left: 60px;
    }

    #browser-games-bg {
        transform: scale(110%);
    }

    .tags-selector {
        margin: 15px 05px 15px 05px;
    }
}

@media only screen and (max-width: 400px) {
    .doc {
        min-width: 90vw;
        max-width: 90vw;
    }

    .doc-bg-img {
        transform: scale(120%);
        margin-left: 10%;
    }

    #browser-games-bg {
        transform: scale(110%);
    }

    .tags-selector {
        margin: 15px 05px 15px 05px;
    }
}

@media only screen and (max-width: 350px) {
    .doc {
        min-width: 90vw;
        max-width: 90vw;
    }

    .doc-bg-img {
        transform: scale(120%);
        margin-left: 05%;
    }

    #browser-games-bg {
        transform: scale(110%);
    }

    .tags-selector {
        margin: 15px 05px 15px 05px;
    }
}