/* Master Styling */
*, *::before, *::after {
    box-sizing: border-box;
    
}

body {
    background-color: #0a0a0a;
    color: #F1F1F1;
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-shadow: 4px 4px 8px #0A0A0A;
    filter: drop-shadow(4px 4px 8px #0A0A0A);
}



/* Elements (Home Block) */
.home-block {
    background-color: #141414;
    width: 75vw;
    height: 90vh;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column-reverse;
}

.left-wrapper {
    display: flex;
    flex-direction: row;
    text-align: end;
}

.right-wrapper {
    display: flex;
    flex-direction: row;
    text-align: end;
}

.home-text {
    font-family: Alata;
    line-height: .4;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    user-select: none;
    
}

.home-text > h1 {
    font-size: 150px;
    color: #EC8609;
    line-height: .4;
    margin: 0;
    padding: 0;
    
}

.home-text > h2 {
    font-size: 90px;
    color: #F9AC4E;
    font-weight: lighter;
    margin: 50px;
    padding-left: 30px;
    line-height: 70px;
}

.home-sahil-icon {
    width: 300px;
    user-select: none;
    cursor: pointer;
    clip-path: circle(50% at 50% 50%);
}

.socials-list {
    list-style: none;
    flex-direction: row;
}

.socials-item {
    font-family: Alata;
    font-size: 20px;
    line-height: .4;
    text-align: center;
    list-style: none;
    display: inline;
}

/* Responsive Design */

@media screen and (min-width:950px) {
    .home-block {
        width: 90vw;
        max-width: 1200px;
        height: 60vh;
        border-radius: 150px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .home-sahil-icon {
        width: 500px;
    }
}

/* Animations */
.home-sahil-icon:hover {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

