/* Master Styling */
*, *::before, *::after {
    box-sizing: border-box;
}

::selection {
    background: #0A0A0A;
  }

::-moz-selection {
    background: #0A0A0A;
}

body {
    background-image: url("/MEDIA/test.svg");
    background-repeat: no-repeat;
    background-size: auto 100%; /* remove uato for desktop */
    background-attachment: fixed;
    background-position: right;
    color: #F1F1F1;
    margin: 0;
    padding: 0;
    /* margin: 0 auto; */
    /* filter: drop-shadow(4px 4px 1px #0A0A0A); */
    overflow: hidden;
}

/* a {
    text-decoration: none;
} */

/* .circles{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
z-index: -1;
}

.circles li{
position: absolute;
display: block;
list-style: none;
width: 20px;
height: 20px;
border-radius: 100%;
animation: animate 25s linear infinite;
bottom: -150px;

}

.circles li:nth-child(1){
left: 25%;
width: 80px;
height: 80px;
animation-delay: 0s;
}


.circles li:nth-child(2){
left: 10%;
width: 20px;
height: 20px;
animation-delay: 2s;
animation-duration: 12s;
}

.circles li:nth-child(3){
left: 70%;
width: 20px;
height: 20px;
animation-delay: 4s;
}

.circles li:nth-child(4){
left: 40%;
width: 60px;
height: 60px;
animation-delay: 0s;
animation-duration: 18s;
}

.circles li:nth-child(5){
left: 65%;
width: 20px;
height: 20px;
animation-delay: 0s;
}

.circles li:nth-child(6){
left: 75%;
width: 110px;
height: 110px;
animation-delay: 3s;
}

.circles li:nth-child(7){
left: 35%;
width: 150px;
height: 150px;
animation-delay: 7s;
}

.circles li:nth-child(8){
left: 50%;
width: 25px;
height: 25px;
animation-delay: 5s;
animation-duration: 45s;
}

.circles li:nth-child(9){
left: 20%;
width: 15px;
height: 15px;
animation-delay: 2s;
animation-duration: 35s;
}

.circles li:nth-child(10){
left: 85%;
width: 150px;
height: 150px;
animation-delay: 0s;
animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0);
        opacity: 1;
        background-color: #EC8609;
        }

    100% {
        transform: translateY(-1000px);
        opacity: 0;
        background-color: #F9AC4E;
        }
} */

/* Sidebar */
#sidebar {
    background: linear-gradient(#44355B6b, #221E226b);
    position: absolute;
    padding-top: 20px;
    height: 100%;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .25s;
    left: 0;
    float: left;
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 0px;
    height: 75px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: .6;
    box-shadow: 0 0 15px 15px #221E226b;
}

#sidebar a {
    color: #EC8609;
    text-decoration: none;
    font-family: Poppins;
    /* padding: 20px 0px 20px 0px;
    font-size: 15px;
    font-weight: 700;
    display: block;
    padding: 50;
    margin: 50; */
}
/* 
#sidebar a:hover {
    cursor: default;
} */

#sidebar-sahil-icon {
    width: 48px;
    transition: ease-in-out .25s;
}

#sidebar-docs-icon,
#sidebar-my-work-icon,
#sidebar-youtube-icon {
    width: 48px;
    transition: ease-in-out .25s;
    filter: drop-shadow(0px 0px 9px #F1F1F1);
}

#sidebar-sahil-icon:hover,
#sidebar-sahil-icon::before,
#sidebar-sahil-icon::after,
#sidebar-docs-icon:hover,
#sidebar-docs-icon::before,
#sidebar-docs-icon::after,
#sidebar-my-work-icon:hover,
#sidebar-my-work-icon::before,
#sidebar-my-work-icon::after,
#sidebar-youtube-icon:hover,
#sidebar-youtube-icon::before,
#sidebar-youtube-icon::after {
    width: 52px;
    transition: ease-in-out .25;
    cursor: pointer;
}

.home-text {
    margin: none;
    padding: none;
    display: flex;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: -50px 0px 50px -4px;
}

.intro-text {
    font-family: 'Jost', 'Poppins', sans-serif;
    font-size: 200px;
    color: #F79926;
    filter: drop-shadow(0px 0px 33px #F79926);
    position: absolute;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 200px;
    font-kerning: -10px;
    letter-spacing: -10px;
}

.intro-text-2 {
    font-family: 'Jost', sans-serif;
    font-size: 120px;
    color: #F9AC4E;
    filter: drop-shadow(0px 0px 33px #F9AC4E);
    position: absolute;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 370px;
    margin-left: 20px;
}

.home-emoji-film {
    font-family: 'Jost', sans-serif;
    font-size: 156px;
    color: #0A0A0A;
    filter: drop-shadow(0px 0px 33px #EC8609);
    position: absolute;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 170px;
    transform: rotate(-25deg);
}

.home-emoji-compass {
    font-family: 'Jost', sans-serif;
    font-size: 80px;
    color: #0A0A0A;
    filter: drop-shadow(0px 0px 33px #EC8609);
    position: absolute;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    margin-bottom: 230px;
    margin-left: 100px;
    transform: rotate(19deg);
}

.home-emoji-compass-small {
    font-family: 'Jost', sans-serif;
    font-size: 32px;
    color: #0A0A0A;
    filter: drop-shadow(0px 0px 33px #EC8609);
    position: absolute;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    margin-bottom: 270px;
    margin-left: 250px;
    transform: rotate(83deg);
}

/* Elements (Home Block)
#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
} */

#home-introduction {
    width: 400px;
    margin: 0 auto;
    transition: transform 1s cubic-bezier(0.1, 0.5, 0.75, 1.2);
    display: flex;
    margin-top: 125px;
    justify-content: center;
    align-items: center;
}

/* 
#home-text > #socials-list {
    color: #F1F1F1;
    list-style: none;
    flex-direction: row;
} */

#socials-list {
    z-index: 1;
    transition: 1s ease-in-out;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.socials-item {
    margin: 15px;
    padding: 9px 33px 9px 33px;
    background-color: #F9AC4E;
    border-radius: 45px;
    color: #F1F1F1;
    font-family: 'Poppins', sans-serif;

    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    list-style: none;
    user-select: all;
    transition: ease-in-out .25s;
    display: inline-flex;
    box-shadow: 0px 0px 33px 0px #EEA74D;
}

.social-icon {
    font-size: 10px;
    width: 30px;
    color: #F1F1F1;
    position: static;
}

.socials-item:hover, .socials-item::before, .socials-item::after {
    background-color: #EC8609;
    transform: translate3d(5, 0.2em, 10);
    background-position: 0 100%;
    transition: ease-in-out .25s;
}



/* Icon */
#sahil-icon {
    height: 600px;
    transition: ease-in-out .25s;
    clip-path: circle(50.0% at 50% 50%);
}

#sahil-icon:hover {
    filter: drop-shadow(0px 0px 2px #EC8609);
    transform: scale(.95);
}

/* Responsive */
@media only screen and (max-width: 600px) {
    .intro-text {
        font-size: 30vw;
        margin-left: 10vw;
    }

    .intro-text-2 {
        font-size: 20vw;
        margin-top: 60vw;
    }

    .home-emoji-film {
        font-size: 24vw;
        transform-origin: center;
        margin-left: 55vw;
        margin-bottom: 20vw;
    }

    .home-emoji-compass {
        font-size: 15vw;
        margin-left: 13vw;
        margin-bottom: 37vw;
    }


    .home-emoji-compass-small {
        font-size: 5vw;
        margin-left: 40vw;
        margin-bottom: 39vw;

    }

    #socials-list {
        margin-top: 40vw;
    }

    .socials-item {
        font-size: 5vw;
    }

    .social-icon {
        width: 6vw;
    }
}