/* Master Styling */
*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

::selection {

    background: #0A0A0A;
  }

::-moz-selection {

    background: #0A0A0A;
}

body {

    background-image: url("/MEDIA/test.svg");
    background-repeat: no-repeat;
    background-size: auto 100%; /* remove uato for desktop */
    background-attachment: fixed;
    background-position: right;
    color: #F1F1F1;
    margin: 0;
    padding: 0;
    /* margin: 0 auto; */
    /* filter: drop-shadow(4px 4px 1px #0A0A0A); */
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-top:50px;
}

hr {
    width: 280px;
}

/* Navbar */
#navbar {

    background: linear-gradient(#44355B6b, #221E226b);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: ease-in-out .25s;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0px;
    height: 75px;
    width: 100%;
    line-height: .6;
    box-shadow: 0 0 15px 15px #221E226b;
}

#navbar a {

    color: #EC8609;
    text-decoration: none;
    font-family: Poppins;
}



#navbar-sahil-icon {

    width: 48px;
    transition: ease-in-out .25s;
}

#navbar-docs-icon,
#navbar-my-work-icon,
#navbar-youtube-icon {

    width: 48px;
    transition: ease-in-out .25s;
    filter: drop-shadow(0px 0px 9px #F1F1F1);
}

#navbar-sahil-icon:hover,
#navbar-sahil-icon::before,
#navbar-sahil-icon::after,
#navbar-docs-icon:hover,
#navbar-docs-icon::before,
#navbar-docs-icon::after,
#navbar-my-work-icon:hover,
#navbar-my-work-icon::before,
#navbar-my-work-icon::after,
#navbar-youtube-icon:hover,
#navbar-youtube-icon::before,
#navbar-youtube-icon::after {
    
    width: 52px;
    transition: ease-in-out .25;
    cursor: pointer;
}

/* Icon */
#sahil-icon {

    height: 600px;
    transition: ease-in-out .25s;
    clip-path: circle(50.0% at 50% 50%);
}

#sahil-icon:hover {

    filter: drop-shadow(0px 0px 2px #EC8609);
    transform: scale(.95);
}

/* Disclaimer */
.disclaimer {
    background-color: #1F1F1F;
    width: 100vw;
    margin: 50px 15px 50px 0px;
    padding: 15px 15px 15px 15px;
    box-shadow: 10px 10px 0px #221E228b;
    filter: drop-shadow(0px 0px 9px #EC8609);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: ease-in-out .25s;
    color: #EC8609;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1;
}


/* Documents */
.doc-list {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0px 50px 50px 50px;
    margin-top: 80px;
}

.doc {
    background: linear-gradient(45deg, #0A0A0A, #221E22);
    width: 500px;
    height: 300px;
    margin: 50px;
    margin-top: 0px;
    box-shadow: 10px 10px 0px #221E22,
                20px 20px 0px #221E224b;
    filter: drop-shadow(0px 0px 9px #EC8609);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: ease-in-out .25s;
}

.doc:hover {
    transform:scale(1.05);
    transition: ease-in-out .25s;
}

.doc::before {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    left: 5px;
    z-index: 1;
    width: 0;
    height: 0;
    overflow: hidden;
    border: solid 24px transparent;
    border-top: 0;
    border-bottom-color: #7eb4e2;
}

.doc-info {
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: Bold;
    display: flex;
    flex-direction: column;
}

.video {
    position: relative;
    transition: ease-in-out .5s;
}


.thumbnail {
    position: absolute;
    background-color: #0A0A0A8b;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: ease-in-out .5s;
}

.thumbnail:hover {
    position: absolute;
    opacity: 1%;
    transition: ease-in-out .5s;
    cursor: pointer;
    transform: scale(1.01);
}

/* Document Text */
.doc-title  {
    color: #F1F1F1;
    margin: 0;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 1;
    user-select: none;
}

.doc-desc {
    color: #E3E3E3;
    margin: 0;
    text-align: center;
    font-family: 'Josefin Sans';
    padding: 5px;
    margin: 5px;
    font-weight: 400;
    line-height: 1.25;
    user-select: none;
}

.ext-link {
    width: 48px;
    margin-left: 0px;
    padding-left: 18px;
    z-index: 1;
    cursor: pointer;
    }

.folder {
    background: linear-gradient(-110deg, #0A0A0A, #221E22);
    position: relative;
    width: 320px;
    height: 180px;
    display: block;
    margin: 50px;
    box-shadow: 10px 10px 0px #221E22,
                20px 20px 0px #221E224b;
    filter: drop-shadow(0px 0px 9px #EC8609);
  }
  
  .folder-tab {
    position: absolute;
    height: 30px;
    left: 50px;
    bottom: 100%;
    display: block;
    width: 20%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: linear-gradient(55deg, #221E22, #0A0A0A);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

/* Document Text */
.doc-title  {
    color: #F1F1F1;
    margin: 15px 0px 15px 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1;
}

.doc-desc {
    color: #E3E3E3;
    margin: 0;
    text-align: center;
    font-family: 'Josefin Sans';
    padding: 5px;
    font-weight: 400;
    line-height: 1.25;
}
.doc-links {
    margin: 0px 0px 15px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 0px;
    top: 0;
    position: relative;
    transition: ease-in-out .25s;
}



/* External Links */
.ext-view-rect {
    background-color: #EC8609;
    filter: drop-shadow(0px 0px 9px #EC8609);
    border-radius: 1000px;
    margin: 5px 15px 5px 15px;
    top: 0;
    position: relative;
    transition: ease-in-out .25s;
}

.ext-view-rect:hover {
    top: -7.5px;
}

.ext-submit-rect {
    background-color: #F9AC4E;
    filter: drop-shadow(0px 0px 9px #F9AC4E);
    border-radius: 100px;
    margin: 5px 15px 10px 15px;
    top: 0;
    position: relative;
    transition: ease-in-out .25s;
}

.ext-submit-rect:hover {
    top: -7.5px;
}

.ext-view {
    color: #F1F1F1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
}

.ext-submit {
    color: #F1F1F1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}



/* Responsive */
@media only screen and (max-width: 400px) {

    #home-introduction {
        width: 90vw;
    }
}

@media only screen and (max-width: 600px) {

    .intro-text {
        font-size: 30vw;
        margin-left: 10vw;
    }

    .intro-text-2 {
        font-size: 20vw;
        margin-top: 60vw;
    }

    .home-emoji-film {
        font-size: 24vw;
        transform-origin: center;
        margin-left: 55vw;
        margin-bottom: 20vw;
    }

    .home-emoji-compass {
        font-size: 15vw;
        margin-left: 13vw;
        margin-bottom: 37vw;
    }

    .home-emoji-compass-small {
        font-size: 5vw;
        margin-left: 40vw;
        margin-bottom: 39vw;

    }

    #socials-list {
        margin-top: 40vw;
    }

    .socials-item {
        font-size: 5vw;
    }

    .social-icon {
        width: 6vw;
    }
}

@media only screen and (min-width: 1100px) {

    body {
        background-image: url("/MEDIA/test.svg");
        background-repeat: no-repeat;
        background-size: 110%; /* remove uato for desktop */
        background-attachment: fixed;
        background-position: bottom right;
        overflow: hidden;
    }

    #socials-list {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1300px) {

    body {
        background-image: url("/MEDIA/test.svg");
        background-repeat: no-repeat;
        background-size: 100%; /* remove uato for desktop */
        background-attachment: fixed;
        background-position: bottom right;
        overflow: hidden;
    }
}