/* Navbar */

.navbar {
    position: fixed;
    list-style: none;
    z-index: 9;
    width: 100%;
    height: 80px;
    margin-top: 0;
    padding: 0;
    top: 0;
    background: linear-gradient(#44355B, #44355B6b, #221E226b);
    box-shadow: 0 0 33px 20px #221E226b;
    
    display: flex;
    justify-content: space-evenly;
    
    -webkit-animation: fadeinnav 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinnav 1s; /* Firefox < 16 */
    -ms-animation: fadeinnav 1s; /* Internet Explorer */
    -o-animation: fadeinnav 1s; /* Opera < 12.1 */
    animation: fadeinnav 1s;
    
    pointer-events: none;
}

.navbar-icon {
    margin-top: 15px;
    max-width: 48px;
    max-height: 48px;
    
    z-index: 10;
    transition: ease-in-out .5s;
    
    pointer-events: all;
    cursor: pointer !important;
}

.navbar-icon:hover {
    filter: drop-shadow(0px 0px 33px #EC8609);
    transition: ease-in-out .5s;
}

.navbar-heading {
    margin-top: 8px;
    font-family: Poppins;
    z-index: 1000;
    padding: 0px;
    border-radius: 50px;
    text-align: center;
    background-color: #EC8609;
    color: #F1F1F1;
    mix-blend-mode: normal;
    font-size: 0px;
    line-height: 1.2;
    pointer-events: all;
    cursor: pointer !important;
}

@media only screen and (max-width: 800px) {
    .navbar-heading {
        padding: 4px;
        font-size: 10px;
        transform: scale(150%);
    }

}

@media only screen and (max-width: 600px) {
    .navbar-heading {
        margin-top: 4px;
        padding: 4px -8px 4px -8px;
        font-size: 10px;
        transform: scale(130%);
    }
}

@media only screen and (max-width: 475px) {
    .navbar-heading {
        margin-top: -8px;
        padding: 4px -8px 4px -8px;
        background-color: #ec860900;
        color: #EC8609;
        font-size: 10px;
        transform: scale(150%);
    }
}