/**************************************************************** Whole Document Styles ****************************************************************/ 
body {
    background-color: #070707;
    color: #C2C2C2;
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    color: #e7e7e7;
    text-shadow: 5px 2px #363636;
}
hr {
    border-radius: 50px;
    width: 500px;
}


/**************************************************************** Master Grid Layout ****************************************************************/
.layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 6vw 1fr 1fr 18vw;
    grid-template-rows: 6vh 18vh;
    grid-template-areas:
        "sidebar taskbox taskbox dailybox"
        "sidebar taskbox taskbox dailybox"
        "sidebar taskbox taskbox dailybox"
        "sidebar otherbox otherbox dailybox"
        "sidebar otherbox otherbox dailybox";
    margin: 20px;
    column-gap: 15px;
    row-gap: 15px;
    grid-area: auto;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
}

/**************************************************************** Sidebar Layout ****************************************************************/
/******** Master Sidebar ********/
/* Controls properties (colour, shape, etc) for whole sidebar*/ 
.sidebar {
    background-color: #131313;
    grid-area: sidebar;
    border-radius: 30px;
    display: flex;
    padding: 15px 0px;
    min-width: 100px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;   
}

/******** Icon Background ********/
/* Shape behind SVG icons on sidebar */
.sidebar > .iconBG {
    cursor: pointer;
    margin-top: 15px;
    height: 5vw;
    width: 5vw;
    background-color: #0C0C0C;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.iconBG:hover {
    background-color: #252525;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}

/******** Icon Collapse ********/
/* On click, hides sidebar */
.sidebar > .iconCollapse {
    scale: 50%;
    cursor: pointer;
    opacity: 5%;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.iconCollapse:hover {
    scale: 55%;
    opacity: 100%;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}

/******** Profile Icon ********/
/* Custom profile picture */
.sidebar > .profile {
    scale: 75%;
    cursor: pointer;
    margin-top: 15px;
    height: 9vh;
    width: 9vh;
    display: flex;
    justify-content: flex-end;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 100%;
}
.profile:hover {
    scale: 80%;
    opacity: 100%;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}

/******** SVG Icon Image ********/
/* SVG images on sidebar */
.iconBG> .iconImage {
    scale: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.iconBG:hover .iconImage {
    scale: 75%;
    opacity: 100%;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}

/************************************************************ Taskbox Layout ************************************************************/
/******** Task Box (Rectangle Area) ********/
/* Controls whole grid section with task boards */
.taskbox {
    background-color: #131313;
    min-height: 60vh;
    grid-area: taskbox;
    border-radius: 30px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: scroll; /* Bottom scrollbar */
    flex-flow: column wrap;
}

/******** Board View ********/
/* Controls horizontal layout of all task boards */
.taskbox > .board-view {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; /* Algins to top */
    column-gap: 30px;
    overflow-y: scroll; /* Right-side scrollbar */
    flex-flow: row nowrap;
    
}

/******** Task Board ********/
/* Controls single vertical task board */
.task-board {
    display: flex;
    justify-content: center; /* Keeps task board  title centered */
    max-height: 60vh;
    max-width: 33%;
    min-width: auto;
    overflow-y: scroll;
    flex-flow: row wrap;
    flex-grow:0;
    flex-basis:50%;
}

/******** Task ********/
/* Controls single task within task board */
.task {
    background-color: #242424;
    box-shadow: 6px 6px #0c0c0c;
    min-height: auto;
    min-width: 20vw; /* Minimum width of task*/
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px; /* Vertical gap between tasks */
    display: flex;
    justify-content: flex-start; /* Keeps text aligned to top */
    align-items: center; /* Keeps task board title aligned to center */
    flex-direction: column; /* Keeps h1 title on top, p text on bottom */
    max-height: 20vh; /* Maximum height of note */
    overflow-y: auto; /* Task scrollbar shows if text exceeds max-height */
    flex-wrap: nowrap; /* Keeps h1 title and p text on same vertical level (prevents overflow-x)*/
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.task:hover {
    background-color: #2e2e2e;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.task:active {
    transform:skew(5deg);
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1)
}

/******** New Task Button ********/
.new-task {
    width: 90%;
    color: #C2C2C2;
    border: none;
    border-radius: 30px;
    font-size: 150%;
    font-family: Josefin Sans;
    background-color: #242424;
    box-shadow: 6px 6px #0c0c0c;
    cursor: pointer;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.new-task:hover {
        scale: 105%;
        transition: .5s cubic-bezier(0.19, 1, 0.22, 1)
    }
    
    /******** Task Board Title ********/
    /* Title for single task board */
    .task-board > .task-title {
    color: #C2C2C2;
    text-align: center;
}

/******** Custom Text Properties for Task Text ********/
.task > h1 {
    color: auto;
    text-shadow: 2px 2px 2px #0C0C0C;
    font-size: 24px;
    margin: 5%;
    margin-bottom: 0px;
}
.task > p {
    color: #A3ACA2;
    margin: 0% 5%;
    text-align: center;
}



/************************************************************ Other Box Layout ************************************************************/
.otherbox {
    background-color: #131313;
    grid-area: otherbox;
    border-radius: 30px;
    min-height: 40vh;
}


/************************************************************ Daily Box Layout ************************************************************/


.dailybox {
    background-color: #131313;
    grid-area: dailybox;
    border-radius: 30px;
}

