/* Master Styling */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #0a0a0a;
    color: #F1F1F1;
    text-shadow: 4px 4px 8px #0A0A0A;
    filter: drop-shadow(4px 4px 8px #0A0A0A);
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
}



/* Sidebar */
#sidebar {
    background-color: #141414;
    position: absolute;
    padding-top: 20px;
    height: 100%;
    width: 100px;
    text-align: center;
    top: 0;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .25s;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}

#sidebar a {
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    color: #EC8609;
    display: block;
}

#sidebar a:hover {
    cursor: default;
}

#sidebar-sahil-icon {
    width: 48px;
    transition: ease-in-out .25s;
}

#sidebar-sahil-icon:hover, #sidebar-sahil-icon::before, #sidebar-sahil-icon::after {
    width: 64px;
    transition: ease-in-out .25s;
    cursor: pointer;
}

#sidebar-docs-icon {
    width: 48px;
    transition: ease-in-out .25s;
}

#sidebar-docs-icon:hover, #sidebar-docs-icon::before, #sidebar-docs-icon::after {
    width: 64px;
    transition: ease-in-out .25s;
    cursor: pointer;
}

#sidebar-my-work-icon {
    width: 48px;
    transition: ease-in-out .25s;
}

#sidebar-my-work-icon:hover, #sidebar-my-work-icon::before, #sidebar-my-work-icon::after {
    width: 64px;
    transition: ease-in-out .25s;
    cursor: pointer;
}

#sidebar-youtube-icon {
    width: 48px;
    transition: ease-in-out .25s;
}

#sidebar-youtube-icon:hover, #sidebar-youtube-icon::before, #sidebar-youtube-icon::after {
    width: 64px;
    transition: ease-in-out .25s;
    cursor: pointer;
}



/* Elements (Home Block) */
#content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

#home-block {
    background-color: #141414;
    width: 75vw;
    height: 75vh;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Home Block Text */
#home-text {
    font-family: Alata;
    line-height: .4;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    user-select: none;
}

#home-text > h1 {
    font-size: 150px;
    color: #EC8609;
    line-height: .4;
    margin: 0;
    padding: 0;
}

#home-text > h2 {
    font-size: 90px;
    color: #F9AC4E;
    font-weight: lighter;
    margin: 50px;
    padding-left: 30px;
    line-height: 70px;
}



/* Socials */
#socials-list {
    color: #F1F1F1;
    list-style: none;
    flex-direction: row;
}

.socials-item {
    color: #F1F1F1;
    font-family: Alata;
    font-size: 20px;
    line-height: .4;
    text-align: center;
    list-style: none;
    display: inline;
    user-select: all;
    transition: ease-in-out .25s;
}

.social-icon {
    color: #F1F1F1;
    position: static;
    user-select: none;
}

.socials-item:hover, .socials-item::before, .socials-item::after {
    color: #EC8609;
    transform: translate3d(5, 0.2em, 10);
    background-position: 0 100%;
    transition: ease-in-out .25s;
}



/* Icon */
#sahil-icon {
    height: 600px;
    transition: ease-in-out .25s;
    clip-path: circle(50% at 50% 50%);
}

#sahil-icon:hover {
    filter: drop-shadow(0px 0px 2px #EC8609);
    transform: scale(.95);
}



/* Responsive */
@media only screen and (max-width: 1400px) {
    #sidebar {
        padding: 0px;
        height: 75px;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    #sidebar a {
        padding: 0;
        margin: 0;
    }

    #content {
        align-items: center;
        display: grid;
        align-items: center;
        margin-left: 0px;
    }

    #home-block {
        margin-top: 75px;
        width: 75vw;
        height: 85vh;
        margin: none;
        flex-direction: column-reverse;
    }

    #sahil-icon {
        height: 400px;
    }
}